<div class="widget-portfolio-list">
  {{#each widget.records}}
    <div class="widget-portfolio-item">
      <a class="w-p-l-link" href="/portfolio/{{id}}">
        {{we-image featuredImage 'original' class="img-thumbnail w-p-l-image"}}
        <h4 class="w-p-l-title">{{title}}</h4>
      </a>
    </div>
  {{/each}}

  <div class="widget-portfolio-read-more">
    <a class="w-p-l-rm-link" href="/portfolio">{{t 'portfolio.list.read-more'}}</a>
  </div>
</div>